.calculator {
  width: 200px;
  margin: 0 auto;
}

.display {
  width: 100%;
  height: 40px;
  font-size: 20px;
  text-align: right;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.buttons button {
  width: 100%;
  height: 50px;
  font-size: 20px;
  margin: 5px;
  cursor: pointer;
}
